.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(101, 199, 255);}

.inputField {
  display: flex;
  flex-direction: column;
  margin: 50px;
  background-color: rgb(48, 153, 214);
  color: antiquewhite;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
}

.inputField>input {
  background-color: rgb(19, 82, 119);
  color: antiquewhite;
  margin-top: 5px;
  width: 25vh;
  font-size: 1.2rem;
}

.display {
  background-color: rgb(48, 153, 214);
  color: antiquewhite;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  margin: 50px;
}

button {
  background-color: rgb(48, 153, 214);
  color: antiquewhite;
  font-size: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(19, 82, 119);
}
